*{
   box-sizing: border-box;
}
body{
   color: aliceblue;
   background:#353839 ;
   /* overflow-y: hidden; */
}

a{
   text-decoration: none;
   color: #3e8e41;
}
a:hover{
   color:gold ;
   cursor: pointer;
}
.container.main{
   display: grid;
   grid-template-areas: 
   'nav nav nav nav nav nav nav nav'
   'main main main main main main side side'
   'footer footer footer footer footer footer footer footer';
   max-width: 100%;
   gap: 1rem;
}

.header{
   grid-area: nav;
   height: min(30vh,30vh);
   width: min(100%,100%);
}
h1{
   margin: 1rem;
   margin-bottom: 1rem;
   font-size: 4rem;
   text-align: center;
}
.nav{
   grid-area: nav;
}
.dropdown {
   display: inline-block;
   width: 100%;
 }

.dropdown-content {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   font-size: 1rem;
   width: 100%;
   text-align:center;
   background: rgba(62, 142, 65,.9);
 }
 .sticky{
   position: fixed;
   top: 0;
   width: 100%;
 }

 .dropdown-content a {
   color: aliceblue;
   text-decoration: none;
   display: block;
   padding: .25rem;
   width: 6.5rem;
   border-right: 1px solid aliceblue ;
 }
 .dropdown-content a:last-child{
   border: none;
   width: 2rem;
}
.up{
   color: aliceblue;
   width: 1rem;
   font-size: 1rem;
}
.dropdown-content a:first-child:hover{
   border: none;
   cursor:default;

 }
 .dropdown-content a:hover,
 .checked{
   background-color: gold;
   color: black !important;
   cursor: pointer;

 }




.display{
   grid-area: main;
   height: min(100%,80vh);
   width: min(100%,100%);
   padding: .5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.display-title{
   text-align: center;
   font-size: 2rem;
   margin: 0;
   margin-bottom: 1rem;
}
.display-content{
   max-width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;

}
.pagination{
   display: flex;
   align-items: center;
   justify-content: center;
   width: fit-content;
   border-radius: 50px;
   background: transparent;
   padding: .5rem;
}

  .btn{
   color: #3e8e41;
   font-size: 1rem;
   font-weight: 500;
   cursor: pointer;
   /* user-select: none; */
   transition: all 0.3s ease;
   width: 2.5rem;
   padding: .25rem;
   height: 2.5rem;
   background: transparent;
   border: none;
   margin: 0 .1rem;
 }
 .num.btn, .dot.btn{
   border-radius: 50%;
 }
 .next,
 .prev{
   width: 3.75rem;
   border-radius: 0;
   font-size: 1.1rem;
 }
 .next span{
   margin-right:.2rem ;
 }
 .prev span{
   margin-left:.2rem ;
 }
 .next{
   border-radius: 0 1rem 1rem 0;
 }
 .prev{
   border-radius: 1rem 0 0 1rem;
 }


 .pagination button.active,
 .pages button.num:hover,
 .pages button:first-child:hover,
 .pages button:last-child:hover{
   color: #fff;
   background: #3e8e41;
 }
.num.active{
   background: #3e8e41;
}
.page.btn{
   align-self: center;
   align-self: center;
}
.pageS{
   border: 1px solid #3e8e41;
   margin-left: .25rem;
   font-size: 1.2rem;
   border-radius: 1rem;
   position: relative;
   padding: .2rem;
   padding-right:.5rem ;
   align-items: center;
   width: 7rem;
}
.pageS.focused{
   border: 1px solid gold;
}
.pageS input{
   border: none;
   background: transparent;
   height: 1rem;
   padding: .2rem;
   width: 4.5rem;
   font-size: 1.25rem;
   color: aliceblue;
}

.icon{
   position: absolute;
   color: #3e8e41;
   right: .5rem;
   z-index: 1;
}
.icon.focused{
   color: gold;
}
input:focus
{
   outline: none !important;
  
}

.card{
   display: flex;
   flex-direction: row;
   align-items: center;
   border: 1px solid black;
   margin:1rem;
   max-width: 43rem;
   max-height: 24rem;
}
.card-cover{
   display: flex;
   flex-direction: column;
   /* max-width: 15rem; */
   justify-content: flex-end;
}
.theme,
.genre,
.summary,
.type,
.trailer{
   margin: 0;
}
.card-img{
   width: 15rem;
   height: 24rem;

}

.card-info{
   display: flex;
   flex-direction: column;
   padding: .5rem .75rem;
   padding-top:0 ;
   height: 100%;
}
.card-mid{
   margin-bottom: 1rem;
}
.card-bot{
   height: 100%;
   display:flex ;
   justify-content: space-between;
   align-items: center;
}
.anime.title{
   margin: 0;
   margin-bottom: .5rem;
   font-size: 2rem;
}
.summary{
   max-height:13rem ;
   margin-top:.75rem;
   margin-bottom:.5rem;
   margin-left: 0;
}
.trailer{
   border: 1px solid black;
   width: fit-content;
   padding: 1rem;
   padding-left: .2rem;
   margin-top: .75rem;
   background: #3e8e41;
   color: white;
   border-radius: .5rem;
   font-size: 1.25rem;
   margin-bottom: 1rem;
}
.trailer:hover{
   background: gold;
   color: black;
}

.fav{
   background: transparent;
   border: none;
   color: gold;
   font-size: rem;
   margin: 0;
}
.type span{
   margin-left: 1rem;
}

